$body-first: rgb(0, 179, 255);
$body-second: rgb(0, 120, 154);
$body-third: rgb(0, 12, 118);
$body-fourth: rgb(144, 202, 238);
$body-fifth: rgb(0, 74, 99);
$duration: 10px;
$duration1: 20px;
$duration2: 30px;