@media screen and (min-width: 700px) {
    #box {
      display: flex;
    }
    .box1 {
      margin: 50px;
      width: 100px;
      height: 100px;
      background-color: black;
      border: 1px solid red;
        border-radius: 4px;
    }
  }
  @media screen and (max-width: 700px) {
    #box {
      display: flex;
      flex-direction: column;
    }
    .box1 {
      margin: 50px;
      width: 100px;
      height: 100px;
      background-color: skyblue;
      border: 1px solid red;
        border-radius: 4px;

    }
  }