<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>파일 업로드</title>
</head>
<body>
    <h1>회원가입</h1>
    <form action="/practice" method="POST" >
        <input type="text" name="ID" placeholder="아이디"><br />
        <input type="text" name="PW" placeholder="비밀번호"/> <br/>
        <input type="text" name="name" placeholder="이름"/> <br/>
        <input type="text" name="age" placeholder="나이"/> <br/>
        <input type="file" name="userfiles" multiple><br />
        <button type="submit" onclick="fileUpload()">회원가입</button>
    </form>

    <img src="" alt="" width="150">
      <script>
        function fileUpload() {
            console.log('동적 파일 업로드');
            // js파일만으로 폼을 전송 ( 파일 데이터를 서버로 전송해야 하는 케이스)
            // FormData 객체를 활용하면 쉽게 전송 가능!
            const formData = new FormData();
            const file = document.querySelector('#dynamic-file');
            console.dir(file);
            console.dir(file.files);
            console.dir(file.files[0]);

            //append( key, value)
            formData.append('userfiles', file.files[0]);

            axios({
                method: 'post',
                url: '/practice',
                data: formData,
                header : {
                    'Content-Type': 'multipart/form-data',
                },
            }).then ((res) => {
                const {data} = res;
                console.log(data);
                document.querySelector('img').src = '/' + data.path;
            });
        }

      </script>
</body>
</html>