body {
    background-color: rgb(28, 27, 27);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .card {
    background-color: #ccc;
    border: 1px solid #ccc;
    padding: 20px;
    width: 183px;
    text-align: center;
    border-radius: 0 0 20px 20px;
  }
  img {
    max-width: 100%;
    height: auto;
    border-radius: 20px 20px 0 0;
  }
  ul {
    padding-inline-start: 0;
  }
  li {
    margin-left: 0px;
    list-style: none;
  }